<!--index.html-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <form method="POST" action="{{url_for('index')}}">
    {{searchform.csrf_token}}
    <p>
      {{searchform.search_bar(size=20)}} {{searchform.submit}}
    </p>

  </form>
  <ul>
    {% for result in results %}
    <li>{{result}}</li>
    <a href="{{url_for('show_individual', id=result.KitapID)}}"> Details </a>

    {% endfor %}
  </ul>
  <br> <br>
  {% if not loggedin%}
  <a href="{{url_for('login')}}">Login</a>
  <br>
  <a href="{{url_for('register')}}">Register</a>
  <br>
  {% endif %}
  {% if not is_admin and loggedin%}
    <a href="{{url_for('account')}}">Account</a>
  <br>
  {% endif %}
  {% if is_admin%}
    <a href="{{url_for('admin_panel')}}">Admin Panel</a>
    <a href="{{url_for('add')}}"> Add Book to Library</a>
    <br>
  <br>
  {% endif %}
  {% if loggedin%}
    <a href="{{url_for('logout')}}">Log out</a>
  <br>
  {% endif %}


</body>
</html>