<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Login</title>
</head>
<body>
  <h1>login page</h1>
      <form method="POST" action="{{url_for('login')}}">
        {{form.csrf_token}}
        <p>
            {{form.username.label}} <br> {{form.username(size=20)}}
        </p>
        <p>
            {{form.password.label}} <br> {{form.password(size=20)}}
        </p>
        {{ form.submit }}
    </form>
<p> you dont have an account?<a href="{{url_for('register')}}"> Create an Account</a></p>

</body>
</html>